
- const title = '“雄安这一年”专题_中国雄安官网'

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='chrome')
        meta(name='renderer', content='webkit')

        title= title
        meta(name='description', content= title)
        meta(name='apple-mobile-web-app-title', content= title)
        meta(name='viewport', content='width=device-width, initial-scale=1')


        script(src="/bundle/dev/browser.min.js")
        
        <link rel="stylesheet" href="/bundle/framework7/framework7.bundle.min.css">
        <link rel="stylesheet" href="/bundle/framework7/framework7-icons.css">

        link(rel='stylesheet', href='bundle/index.css')


    body.color-theme-gold
        <!-- body static START -->
        #app
            //- .panel.panel-right.panel-cover.panel-resizable.panel-btnBoxbox
            //-     .block
            //-         .panel-btnBox(data-js="setNav(cid)")
            //-             a(href='http://www.xiongan.gov.cn', title='中国雄安官网', target='_blank').link.external.panel-xaLogoA
            //-                 img.logo.lazy.lazy-fade-in(src='http://www.xiongan.gov.cn/bundle/xiongan-logo.png', alt='http://www.xiongan.gov.cn')

            //-             a(href='/').link 首页
            //-             //- a(href='/toutiao/').link 头条新闻
            //-             //- include ./inc/btnBoxA.pug

            //-         .st-closeBox
            //-             <a class="link card-close card-opened-fade-in st-close panel-close" href="#">
            //-                 <i class="icon f7-icons">close_round_fill</i>
            //-             </a>

            .view.view-main
                .page(data-page="homepage")
                    //- .navbar
                        .navbar-inner
                            .title
                                <a href="http://www.xiongan.gov.cn/" class="link external" target="_blank">
                                    <span>中国雄安官网</span>
                                </a>
                    .page-content
                        //- include ./inc/bannerAndNav.pug
                        .box.banner-bg
                            <a href="http://www.xiongan.gov.cn/" class="link external topLogo" target="_blank">
                                <span>中国雄安官网</span>
                            </a>
                            a.banner(href='/')
                                h1.hide= title
                                img.bannerTitle(src='bundle/bannerTitle.png', alt= title)
                                img.bannerTitle-md.hide(src='/bundle/bannerTitle-md.png', alt= title)

                            //- <!-- nav START -->
                            //- .nav
                            //-     .nav-in
                            //-         a(href='http://www.xiongan.gov.cn', title='中国雄安官网', target='_blank').link.external.xaLogoA
                            //-             img.logo.lazy.lazy-fade-in(src='http://www.xiongan.gov.cn/bundle/xiongan-logo-w.png', alt='http://www.xiongan.gov.cn')
                            //-         .btn-box(data-js="setNav(cid)")
                            //-             //- 导航
                            //-             a(href='/').link 首页
                            //-             //- a(href='/news/').link 头条新闻
                            //-             //- include ./inc/btnBoxA.pug

                            //- .nav.mobile-nav-btn
                            //-     //- .nav-in
                            //-     .panel-openBtnBox
                            //-         <a class="panel-open btn-box button button-large button-fill color-white text-color-red" href="#" data-panel="right">
                            //-             <i class="f7-icons" data-panel="right">bars</i>
                            //-         </a>
                            //- <!-- nav END -->


                            //- <!-- topBigTitle START -->
                            //- .topBigTitle
                            //-     .isNoContent 正在加载...
                            //-     //- h1
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十一二三四五六
                            //-     //- .absBox
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十
                            //- <!-- topBigTitle END -->


                            //- <!-- rot & headline START -->
                            //- //-
                            //-     navBtn-guan.png
                            //-     navBtn-pin.png
                            //-     navBtn-shang.png
                            //-     navBtn-tan.png
                            //-     navBtn-ting.png
                            //-     navBtn-xue.png
                            //-     navBtn-yi.png
                            //-     navBtn-ying.png
                            //-     navBtn-yue.png
                            //-     navBtn-zhan.png

                            //- .col1.spBox1
                            //-     .area.spArea
                            //-         .sp-pc-nav(data-js="setNav(cid)")
                            //-         .content
                            //-             include ./inc/rot.pug
                            //-             include ./inc/headline.pug
                            //-         .more &nbsp;
                            //- <!-- rot & headline END -->
                            

                            //- <!-- 雄安非遗 START -->
                            //- .area#rotBigRound
                            //-     .items-col.col-guan(data-col="雄安非遗")
                            //-         .hide 观&middot;雄安非遗

                            //-     include ./inc/rotBigRound.pug
                            //-     .more(data-more="雄安非遗") 更多 &gt;&gt;&gt;
                            //- <!-- 雄安非遗 END -->

                            //- <!-- 多彩雄安 START -->
                            //- .area.rotPicABigAndMoreTiny-autoHide
                            //-     .items-col.col-ying(data-col="多彩雄安")
                            //-         .hide 迎&middot;多彩雄安
                            //- .box.col-ying-box.rotPicABigAndMoreTiny-autoHide
                            //-     include ./inc/rotPicABigAndMoreTiny.pug
                            //-     .area
                            //-         .more(data-more="多彩雄安") 更多 &gt;&gt;&gt;
                            //- <!-- 多彩雄安 END -->

                            //- .box.spBox-yi-bg
                            //-     .area.spArea2#spArea2
                            //-         <!-- 白洋淀故事 START -->
                            //-         .area#addData-ting
                            //-             .items-col.col-ting(data-col="白洋淀故事")
                            //-                 .hide 听&middot;白洋淀故事
                            //-             .listBox
                            //-                 .picBox
                            //-                     .isNoContent 正在加载...
                            //-                 ul.list
                            //-                     .isNoContent 正在加载...
                            //-                 .more(data-more="白洋淀故事") 更多 &gt;&gt;&gt;
                            //-         <!-- 白洋淀故事 END -->

                            //-         <!-- 每日一诗 START -->
                            //-         .area#addData-shang
                            //-             .items-col.col-shang(data-col="每日一诗")
                            //-                 .hide 赏&middot;每日一诗
                            //-             .listBox
                            //-                 .picBox
                            //-                     .isNoContent 正在加载...
                            //-                 ul.list
                            //-                     .isNoContent 正在加载...
                            //-                 .more(data-more="每日一诗") 更多 &gt;&gt;&gt;
                            //-         <!-- 每日一诗 END -->

                        <!-- 要闻聚焦 START -->
                        //- .area
                        //-     .items-col.col-yi(data-col="雄安乡愁")
                        //-         .hide 忆&middot;雄安乡愁
                        .box.col1#rotBig
                            //- <!-- topBigTitle START -->
                            //- .topBigTitle
                            //-     .isNoContent 正在加载...
                            //-     //- h1
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十一二三四五六
                            //-     //- .absBox
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十
                            //-         a(href="#") 一二三四五六七八九十一二三四五六七八九十
                            //- <!-- topBigTitle END -->

                            .area
                                .content
                                    include ./inc/rot.pug
                                    include ./inc/headline.pug
                                .more(data-more="要闻聚焦") 更多 &gt;&gt;&gt;
                        <!-- 要闻聚焦 END -->


                        //- <!-- 红色基因 START -->
                        //- .area
                        //-     .items-col.col-tan(data-col="红色基因")
                        //-         .hide 探&middot;红色基因
                        //- .box
                        //-     include ./inc/rot3BoxNoPic.pug
                        //- .area
                        //-     .more(data-more="红色基因") 更多 &gt;&gt;&gt;
                        //- <!-- 红色基因 END -->

                        <!-- 展示·雄安这一年 START -->
                        .area.picTitleAbsAndList#picTitleAbsAndList
                            .items-col.col1Bg(data-col="展示·雄安这一年")
                                .hide 展示·雄安这一年
                            .content(data-add="1")
                                .isNoContent 正在加载...
                            .more(data-more="展示·雄安这一年") 更多 &gt;&gt;&gt;
                        <!-- 展示·雄安这一年 END -->

                        <!-- 回首·雄安这一年 START -->
                        .area.rotBoxBox#rotBig2
                            .items-col.col2Bg(data-col="回首·雄安这一年")
                                .hide 回首·雄安这一年
                            include ./inc/rotBig.pug
                            .more(data-more="回首·雄安这一年") 更多 &gt;&gt;&gt;
                        <!-- 回首·雄安这一年 END -->

                        //- <!-- 理论创新 START -->
                        //- .area.itemListLeftandRight#itemListLeftandRight2.spBox4
                        //-     .items-col.col-xue(data-col="理论创新")
                        //-         .hide 学&middot;理论创新
                        //-     .content(data-add="1")
                        //-         .isLoadingTxt 正在加载...
                        //-     .content
                        //-         .more(data-more="理论创新") 更多 &gt;&gt;&gt;
                        //- <!-- 理论创新 END -->

                        //- <!-- 雄安味道 START -->
                        //- .area
                        //-     .items-col.col-pin(data-col="雄安味道")
                        //-         .hide 品&middot;雄安味道
                        //- include ./inc/rotPicTitleAbs.pug
                        //- .area
                        //-     .more(data-more="雄安味道") 更多 &gt;&gt;&gt;
                        //- <!-- 雄安味道 END -->

                        //- <!-- 雄安书苑 START -->
                        //- .box.spBox-yue#spBox-yue
                        //-     .area
                        //-         .items-col.col-yue(data-col="雄安书苑")
                        //-             .hide 阅&middot;雄安书苑
                        //-     ul.spBox-yue-listBox
                        //-         .isNoContent 正在加载...
                        //-     .area
                        //-         .more(data-more="雄安书苑") 更多 &gt;&gt;&gt;
                        //- <!-- 雄安书苑 END -->


                            //- <!-- col1 START -->
                            //- .area
                            //-     a(href="/page/pljd/11212735" class="colA link") 
                            //-         .items-col.items-col1
                            //-             .hide 评论解读
                            //- .rot3BoxBox#rot3BoxNoPic
                            //-     .rot3Box.rot3BoxNoPic(data-add="1")
                            //-         .swiper-container.rot3
                            //-             .swiper-wrapper
                            //-                 .isNoContent 正在加载...
                            //-                 //- each rot3Val in [1,2,3,4,5,6]
                            //-                     <!-- 子循环 开始 -->
                            //-                     .swiper-slide.itemBox
                            //-                         .pic
                            //-                             a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                            //-                                 img(src= 'demo/demo' + rot3Val + '.png', alt='')
                            //-                         .title
                            //-                             .text
                            //-                                 a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')= rot3Val + '一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十'
                            //-                             .abs 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十
                            //-                     <!-- 子循环 结束 -->
                            //-         .swiper-pagination.rot3-pagination
                            //-         .swiper-button-prev.rot3-prev
                            //-         .swiper-button-next.rot3-next
                            //- <!-- col1 END -->

                            

                        //- <!-- rotBig START -->
                        //- .area
                        //-     a(href="/video/" class="colA link") 
                        //-         .items-col.items-col1(tips="精彩视频 | 栏目ID: 11206397 | 信息片ID: 11206759")
                        //-             .hide 精彩视频
                        
                        //- include ./inc/rotGallery
                        //- <!-- rotBig END -->

                        

                        //- <!-- 头条新闻 START -->
                        //- include ./inc/rotBig.pug
                        //- <!-- 头条新闻 END -->


                        //- <!-- 看建雄安 START -->
                        //- .area
                        //-     a(href="/kanjian/" class="colA link") 
                        //-         .items-col.items-col1
                        //-             .hide 看建雄安
                        //- include ./inc/rot2PicTitleAbs.pug
                        //- //- .more
                        //-     a(href="/items-col1/") 更多 &gt;&gt;
                        //- <!-- 看建雄安 END -->

                        

                        //- <!-- 建设者风采 START -->
                        //- .area
                        //-     a(href="/jianshe/" class="colA link") 
                        //-         .items-col.items-col3
                        //-             .hide 建设者风采
                        //-     .listBox.isImgList
                        //-         <ul class="list isLoading" id="items-col3">
                        //-             <div class="isLoadingTxt">正在加载...</div>
                        //-         </ul>
                        //-         //- .more
                        //-             a(href="/news/") 更多 &gt;&gt;
                        //- <!-- 建设者风采 END -->

                        //- <!-- 典型风采 START -->
                        //- .rot3BoxBox
                        //-     .rot3Box
                        //-         #rot3.swiper-container.rot3
                        //-             .swiper-wrapper
                        //-                 .isNoContent 正在加载...
                        //-                 //- each rot3Val in [1,2,3,4,5,6]
                        //-                     <!-- 子循环 开始 -->
                        //-                     .swiper-slide.itemBox
                        //-                         .pic
                        //-                             a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                        //-                                 img(src= 'demo/demo' + rot3Val + '.png', alt='')
                        //-                         .title
                        //-                             .text
                        //-                                 a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')= rot3Val + '一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十'
                        //-                             .abs 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十


                        //-                     <!-- 子循环 结束 -->

                        //-         .swiper-pagination.rot3-pagination
                        //-         .swiper-button-prev.rot3-prev
                        //-         .swiper-button-next.rot3-next

                        //-     .more
                        //-         a(href="/items-col2/") 更多 &gt;&gt;
                        //- <!-- 典型风采 END -->

                        //- <!-- 招标公告 START -->
                        //- .area
                        //-     a(href="/zhaobiao/" class="colA link") 
                        //-         .items-col.items-col4
                        //-             .hide 招标公告

                        //-     .listBox.flex-list
                        //-         <ul class="list isLoading" id="items-col4">
                        //-             <div class="isLoadingTxt">正在加载...</div>
                        //-         </ul>
                        //-     //- .more
                        //-         a(href="/items-col3/") 更多 &gt;&gt;
                        //- <!-- 招标公告 END -->


                        //- <!-- 重要时刻 START -->
                        //- .area#zhongyao
                        //-     .items-col.items-col5
                        //-         .hide 重要时刻

                        //-     .memorabilia-box
                        //-         .memorabilia-container.swiper-container
                        //-             .swiper-wrapper#memorabilia-container
                        //-                 .isLoadingTxt 正在加载...
                        //-                 //- .swiper-slide
                        //-                     .date 2019年2月28日
                        //-                     .style
                        //-                     .content
                        //-                         .media.play-video(data-url="")
                        //-                             <img src="http://www.xiongan.gov.cn/titlepic/112310/1123106202_1551401345019_title0h.jpg" alt="2019年2月28日" />
                        //-                         p.text
                        //-                             <a href="http://www.xiongan.gov.cn/2019-03/01/c_1210070397.htm" target="_blank">韩正在北京主持召开京津冀协同发展领导小组会议。</a>
                        //-                             <a href="javascript:;" class="btn-audio" data-url="">play</a>
                        //-         <div class="memorabilia-line"></div> 
                        //-         <a class="memorabilia-arrow prev link" data-slide="prev" href="#"></a> 
                        //-         <a class="memorabilia-arrow next link" data-slide="next" href="#"></a>
                        //-     //- .more
                        //-         a(href="/items-col3/") 更多 &gt;&gt;
                        //- <!-- 重要时刻 END -->

                        //- <!-- 参建单位 START -->
                        //- .area#canjian
                        //-     .items-col.items-col6
                        //-         .hide 参建单位
                        //-     #rotCol6.swiper-container.rotCol6
                        //-         .swiper-wrapper
                        //-             .swiper-slide.item
                        //-                 .isNoContent 正在加载...  
                        //-         .swiper-pagination
                        //-         .swiper-button-prev.rot-prev
                        //-         .swiper-button-next.rot-next
                        //- <!-- 参建单位 END -->

                        //- <!-- 雄安建设者·说出你的故事 START -->
                        //- .area#gushi
                        //-     .hide 雄安建设者·说出你的故事
                        //-     //- a(href="#" class="line external").gushi
                        //-     //-     .abs 雄安建设者·说出你的故事雄安建设者·说出你的故事雄安建设者·说出你的故事雄安建设者·说出你的故事雄安建设者·说出你的故事雄安建设者·说出你的故事
                        //-     //- .listBox.flex-list
                        //-     //-     <ul class="list isLoading" id="items-col">
                        //-     //-         <div class="isLoadingTxt">正在加载...</div>
                        //-     //-     </ul>
                        //-     //- .more
                        //-         a(href="/items-col3/") 更多 &gt;&gt;
                        //- <!-- 雄安建设者·说出你的故事 END -->


                        <!-- demo footer START -->
                        include ./inc/footer
                        <!-- demo footer END -->

                        <!-- include virtual="/2018zt/ssi_2018zt_footer.htm" START --> 
                        <!--#include virtual="/2018zt/ssi_2018zt_footer.htm" --> 
                        <!-- include virtual="/2018zt/ssi_2018zt_footer.htm" END --> 



                        //- <div id="page-content"></div>
                        //- <div class="block page-content-moreBtnBox">
                        //-     <div class="row">
                        //-         <button class="col-50 button button-outline button-large button-round addMore">更多</button>
                        //-     </div>
                        //- </div>
        
        <!-- body static END -->
        
        
        <!-- body scripts START -->
        script(src='/bundle/dev/jq.js')
        //- script(src='/bundle/swiper4/swiper.min.js')
        script(src='/bundle/framework7/framework7.bundle.min.js')

        script(src='bundle/index.js')
        
        //- script(src='/bundle/dev/xa-labs-analytics.min.js')
        
        <!-- body scripts END -->
        <!--#include virtual="/ssi_wxshare.htm" -->
