
- const title = '新中国成立70周年专题_国家广播电视总局_中国雄安官网'

doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='chrome')
        meta(name='renderer', content='webkit')

        title= title
        meta(name='description', content= title)
        meta(name='apple-mobile-web-app-title', content= title)
        meta(name='viewport', content='width=device-width, initial-scale=1')


        script(src="/bundle/browser.min.js")

        <link rel="stylesheet" href="/bundle/framework7/framework7.bundle.min.css">
        <link rel="stylesheet" href="/bundle/framework7/framework7-icons.css">

        link(rel='stylesheet', href='bundle/index.css')


    body
        //- 365百姓故事汇群众宣讲活动专题	栏目ID：11205807	信息片ID：11206171
        //- 新闻聚焦	栏目ID：11205808	信息片ID：11206172
        //- 投票方式	栏目ID：11205809	信息片ID：11206173
        //- 候选选手专区	栏目ID：11205810	信息片ID：11206174
        //- 优秀选手风采展示	栏目ID：11205811	信息片ID：11206175

        <!-- body static START -->

        <div id="app">
            <div class="view view-main">
                <div class="page">
                    
                    //- <div class="navbar">
                    //-     <div class="navbar-inner">
                    //-         <div class="left">
                    //-             <a href="http://www.xiongan.gov.cn/" target="_blank" class="link external">
                    //-                 <i class="icon icon-back"></i>
                    //-                 <span>首页</span>
                    //-             </a>
                    //-         </div>
                    //-         <a href="http://www.xiongan.gov.cn/xiongan-today/" target="_self" class="link external">
                    //-             <div class="title">&nbsp;&nbsp;</div>
                    //-         </a>
                    //-         <div class="right">
                    //-             <a href="http://www.xiongan.gov.cn/older/xat_homepage_older.html" target="_blank" class="link external">
                    //-                 <i class="icon another-icon"></i>
                    //-                 <span>查看往期</span>
                    //-             </a>
                    //-         </div>
                    //-     </div>
                    //- </div>
                    <div class="page-content">
                        include ./inc/bannerAndNav.pug


                        <!-- topBigTitle START -->
                        .topBigTitle(tips="导航控制 365百姓故事汇群众宣讲活动专题 头条属性 栏目ID：11205807	信息片ID：11206171")
                            h1
                                a(href="#") 一二三四五六七八九十一二三四五六七八九十一二三四五六
                            .absBox
                                | 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十
                                a(href="#") 一二三四五六七八九十
                        <!-- topBigTitle END -->

                        <!-- col1 START -->
                        #mark1.col1(tips="导航控制 365百姓故事汇群众宣讲活动专题 头条属性 栏目ID：11205807	信息片ID：11206171")
                            .area
                                .content
                                    <!-- rot START -->
                                    include ./inc/rot.pug
                                    <!-- rot END -->

                                    <!-- headline START -->
                                    include ./inc/headline.pug
                                    <!-- headline END -->

                                .more
                                    a(href="#") 查看更多 &gt;&gt;
                        <!-- col1 END -->

                        <!-- START -->
                        a(href="#" target="_blank")
                            .items-col(tips="导航控制 365百姓故事汇群众宣讲活动专题 头条属性 栏目ID：11205807	信息片ID：11206171")
                                | 投票方式

                        include ./inc/textAndImgBox
                        <!-- END -->

                        <!-- items START -->
                        .items-col
                            a(href="#" target="_blank") 候选选手专区
                        .items
                            each val in [1,2,3,4,5,6,7,8,9,10,11,12]
                                .item
                                    .pic
                                        a(href="#" target="_blank")
                                            img(src= 'demo/demo4.png')
                                    .text
                                        a(href="#") 名字名字名字名字名字名字
                                    .abs 摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要摘要
                                    .subTitle 
                                        //- | 推荐单位：
                                        //- br
                                        | https://vodpub2.v.news.cn/original/20190619/8d5207781a6b4bc1995193db4ad073c4.mp4

                        <!-- items END -->

                        <!-- rotBig START -->
                        .items-col(tips="导航控制 365百姓故事汇群众宣讲活动专题 头条属性 栏目ID：11205807	信息片ID：11206171")
                            a(href="#" target="_blank") 优秀选手风采展示
                        
                        include ./inc/rotBig
                        <!-- rotBig END -->

                        <!-- demo footer START -->
                        include ./inc/footer
                        <!-- demo footer END -->
                        



                        //- <div id="page-content"></div>
                        //- <div class="block page-content-moreBtnBox">
                        //-     <div class="row">
                        //-         <button class="col-50 button button-outline button-large button-round addMore">查看更多</button>
                        //-     </div>
                        //- </div>
                    </div>

                </div>
            </div>
        </div>
        






        <!-- include virtual="/2018zt/ssi_2018zt_xasns_nav.htm" START --> 
        <!--#include virtual="/2018zt/ssi_2018zt_xasns_nav.htm" --> 
        <!-- include virtual="/2018zt/ssi_2018zt_xasns_nav.htm" END --> 

        //- .topTitle
            .topTitle-in
                .col-title 公告
                .topTitle-rot#topTitle-rot
                    .btn-box.topTitle-rot-wrapper
                        a(href='#').topTitle-rot-slide 重要讲话数据库
                        a(href='#').topTitle-rot-slide 新华网
                        a(href='#').topTitle-rot-slide 中国雄安官网
                        a(href='#').topTitle-rot-slide 中国共产党新闻网
                        a(href='#').topTitle-rot-slide 共产党员网
                        a(href='#').topTitle-rot-slide 中央纪委国家监委网站
                        a(href='#').topTitle-rot-slide 龙江先锋网
                        a(href='#').topTitle-rot-slide 龙江机关党建网
                        a(href='#').topTitle-rot-slide 重要讲话数据库
                        a(href='#').topTitle-rot-slide 新华网
                        a(href='#').topTitle-rot-slide 中国雄安官网
                        a(href='#').topTitle-rot-slide 中国共产党新闻网
                        a(href='#').topTitle-rot-slide 共产党员网
                        a(href='#').topTitle-rot-slide 中央纪委国家监委网站
                        a(href='#').topTitle-rot-slide 龙江先锋网
                        a(href='#').topTitle-rot-slide 龙江机关党建网
                        a(href='#').topTitle-rot-slide 龙江机关党建网
                        a(href='#').topTitle-rot-slide 重要讲话数据库
                        a(href='#').topTitle-rot-slide 新华网
                        a(href='#').topTitle-rot-slide 中国雄安官网
                        a(href='#').topTitle-rot-slide 中国共产党新闻网
                        a(href='#').topTitle-rot-slide 共产党员网
                        a(href='#').topTitle-rot-slide 中央纪委国家监委网站
                        a(href='#').topTitle-rot-slide 龙江先锋网
                        a(href='#').topTitle-rot-slide aaaaaaaaa

        
        //- .icons2
            each val in [1,2,3,4]
                .item
                    a(href="#" target="_blank")
                        .pic
                            img(src= 'bundle/i' + val + '.jpg', alt= val)


        
        //- //- #mark2
        //- include ./inc/mark2
        
        //- //- mark3 (.mark2)
        //- include ./inc/mark3

        //- //- #mark4 & #interview-rot
        //- include ./inc/mark4-interview-rot
        
        //- //- #mark5 & #media-rot
        //- include ./inc/mark5-media-rot

        //- //- #mark6
        //- include ./inc/mark6
        

        
        //- .nav2
            .nav2-in
                .col-title 特别推荐
                //- a(href='#', title= title, target='_blank')
                    //- img.logo(src='http://www.xiongan.gov.cn/bundle/icon-logo.png', alt='http://www.xiongan.gov.cn')
                .btn-box
                    a(href='#') 重要讲话数据库
                    a(href='#') 新华网
                    a(href='#') 中国雄安官网
                    a(href='#') 中国共产党新闻网
                    a(href='#') 共产党员网
                    a(href='#') 中央纪委国家监委网站
                    a(href='#') 龙江先锋网
                    a(href='#') 龙江机关党建网


        

        <!-- include virtual="/2018zt/ssi_2018zt_footer.htm" START --> 
        <!--#include virtual="/2018zt/ssi_2018zt_footer.htm" --> 
        <!-- include virtual="/2018zt/ssi_2018zt_footer.htm" END --> 



        <!-- body static END -->
        
        
        <!-- body scripts START -->
        script(src='/bundle/jq.js')
        script(src='/bundle/swiper4/swiper.min.js')
        script(src='/bundle/framework7/framework7.bundle.min.js')


        script(src='bundle/index.js')
        
        //- script(src='/bundle/dev/xa-labs-analytics.min.js')
        <!-- body scripts END -->
