#mark2.box.mark2(data-tips='直击环保一线', data-name='mark2', nid='11190944')
    .area
        .col-bg-box
            .col
                h2.col-title-mark2
                    a(href='#mark2') 直击环保一线
        .content
            .item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/21/c_129976418.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112359/1123591107_1540122702521_title0h.png', alt='封昌红：“双轮驱动”助雄安新区打造有温度的典范之城')
                .item-text-box
                    .title
                        a(href='http://www.xiongan.gov.cn/2018-10/21/c_129976418.htm', target='_blank')
                            | 封昌红：“双轮驱动”助雄安新区打造有温度的典范之城
                    p.abs
                        | 封昌红表示，此次工业设计周的举办就是为了把国际上最为先进的工业设计理念带到河北，带到雄安新区来，促进河北和雄安新区制造工业的转型升级。
                        a(href='#') [详情]
            .item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/20/c_129976051.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112358/1123588437_1540135279009_title0h.png', alt='王坚：构建“城市大脑”助力雄安智慧城市建设')
                .item-text-box
                    .title
                        a(href='http://www.xiongan.gov.cn/2018-10/20/c_129976051.htm', target='_blank')
                            | 王坚：构建“城市大脑”助力雄安智慧城市建设
                    p.abs
                        | 王坚说，城市是一个综合化的体系，它包括工业设计、大数据、云计算等因素，所以，从这个角度讲，雄安的发展更需要工业设计，它将成为雄安不可分割的一部分。
                        a(href='#') [详情]
            .item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974776.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112358/1123586020_1539959345848_title0h.jpg', alt='娄永琪：工业设计将为雄安新区建设品质带来极大提升')
                .item-text-box
                    .title
                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974776.htm', target='_blank')
                            | 娄永琪：工业设计将为雄安新区建设品质带来极大提升
                    p.abs
                        | 娄永琪认为，目前，雄安新区规划建设已进入全面实施阶段，在这个关键节点引入工业设计非常重要。当雄安遇到设计，它不仅会给新区未来发展带来新的契机，也将为新区建设品质带来极大提升。
                        a(href='#') [详情]
            .item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974776.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112358/1123586020_1539959345848_title0h.jpg', alt='娄永琪：工业设计将为雄安新区建设品质带来极大提升')
                .item-text-box
                    .title
                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974776.htm', target='_blank')
                            | 娄永琪：工业设计将为雄安新区建设品质带来极大提升
                    p.abs
                        | 娄永琪认为，目前，雄安新区规划建设已进入全面实施阶段，在这个关键节点引入工业设计非常重要。当雄安遇到设计，它不仅会给新区未来发展带来新的契机，也将为新区建设品质带来极大提升。
                        a(href='#') [详情]
