#mark5.box.col4.media(data-tips='活动进展', data-name='mark5', nid='11190947')
    .area
        .col-bg-box
            .col
                h2.col-title-mark5
                    a(href='#mark5') 活动进展
                    
        #media-rot.swiper-container.big-rot
            .swiper-wrapper

                .swiper-slide.item
                    .pic
                        a(href='http://www.xiongan.gov.cn/2018-09/08/c_129949712.htm', target='_blank')
                            img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419319_1536736719455_title0h.jpg', alt='一图了解第三届白洋淀国际服装文化节日程安排')
                    .title
                        .text
                            a(href='http://www.xiongan.gov.cn/2018-09/08/c_129949712.htm', target='_blank')
                                | 一图了解第三届白洋淀国际服装文化节日程安排
                .swiper-slide.item
                    .pic
                        a(href='http://www.xiongan.gov.cn/2018-09/14/c_129953726.htm', target='_blank')
                            img(src='http://www.xiongan.gov.cn/titlepic/112343/1123433049_1536930809202_title0h.jpg', alt='不一样的马拉松')
                    .title
                        .text
                            a(href='http://www.xiongan.gov.cn/2018-09/14/c_129953726.htm', target='_blank')
                                | 不一样的马拉松
                .swiper-slide.item
                    .pic
                        a(href='http://www.xiongan.gov.cn/2018-09/05/c_129946810.htm', target='_blank')
                            img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419272_1536736695389_title0h.jpg', alt='金顶秀开幕 定义雄安时尚新高度')
                    .title
                        .text
                            a(href='http://www.xiongan.gov.cn/2018-09/05/c_129946810.htm', target='_blank')
                                | 金顶秀开幕 定义雄安时尚新高度
                .swiper-slide.item
                    .pic
                        a(href='http://misc.xiongan.gov.cn/H5/xamls/index.html', target='_blank')
                            img(src='http://www.xiongan.gov.cn/titlepic/112342/1123425425_1536912637672_title0h.jpg', alt='2018雄安马拉松：向幸福出发')
                    .title
                        .text
                            a(href='http://misc.xiongan.gov.cn/H5/xamls/index.html', target='_blank')
                                | 2018雄安马拉松：向幸福出发
                .swiper-slide.item
                    .pic
                        a(href='http://www.xiongan.gov.cn/2018-09/11/c_129951518.htm', target='_blank')
                            img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419054_1536735046606_title0h.jpg', alt='重温经典电影 感受光影魅力')
                    .title
                        .text
                            a(href='http://www.xiongan.gov.cn/2018-09/11/c_129951518.htm', target='_blank')
                                | 重温经典电影 感受光影魅力
                .swiper-slide.item
                    .pic
                        a(href='http://www.xiongan.gov.cn/2018-09/11/c_129951517.htm', target='_blank')
                            img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419059_1536735065573_title0h.jpg', alt='王府有请 万福金安')
                    .title
                        .text
                            a(href='http://www.xiongan.gov.cn/2018-09/11/c_129951517.htm', target='_blank')
                                | 王府有请 万福金安

                                
        .swiper-button-prev.swiper-button-black.media-big-rot-prev
        .swiper-button-next.swiper-button-black.media-big-rot-next
