#mark4.box.interview(data-tips='网络问政', data-name='mark4', nid='11190946')
    .area
        .col-bg-box
            .col
                h2.col-title-mark4
                    a(href='#mark4') 网络问政
    .bg
        .area
            #interview-rot.swiper-container.interview-rot
                .swiper-wrapper(data-tips='item max 6')
                    .swiper-slide.interview-rot-item
                        .interview-rot-item-in
                            .interview-rot-pic
                                a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj04.htm', target='_blank')
                                    img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419785_1536836392279_title0h.jpg', alt='楚艳')
                            .interview-rot-title
                                .interview-rot-text
                                    .title
                                        a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj04.htm', target='_blank')
                                            | 楚艳
                                    p.abs.big  北京服装学院副教授、平昌冬奥会“北京8分钟”表演服装设计师 
                                    .title.tiny
                                        a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj04.htm', target='_blank')
                                            | “时尚雄安”的建设更需要开放包容的态度
                                    p.abs  雄安有开放包容的历史文化特质。产业基础是雄安实现转型升级的重要优势。 
                                .interview-rot-btn
                                    a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj04.htm', target='_blank')
                                        | 进入访谈
                                        .icon-play
                    .swiper-slide.interview-rot-item
                        .interview-rot-item-in
                            .interview-rot-pic
                                a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj03.htm', target='_blank')
                                    img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419781_1536836547873_title0h.jpg', alt='黄海峤')
                            .interview-rot-title
                                .interview-rot-text
                                    .title
                                        a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj03.htm', target='_blank')
                                            | 黄海峤
                                    p.abs.big  北京服装学院副教授、北京服装产业数字化工程技术研究中心主任、容城时尚产业园入驻设计师 
                                    .title.tiny
                                        a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj03.htm', target='_blank')
                                            | 用科技手段提升服装产业产能、质量和效率
                                    p.abs  从市场和产业的两个角度看，雄安的时尚产业是大有可为的。 
                                .interview-rot-btn
                                    a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj03.htm', target='_blank')
                                        | 进入访谈
                                        .icon-play
                    .swiper-slide.interview-rot-item
                        .interview-rot-item-in
                            .interview-rot-pic
                                a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj02.htm', target='_blank')
                                    img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419779_1536836569820_title0h.jpg', alt='马江浩')
                            .interview-rot-title
                                .interview-rot-text
                                    .title
                                        a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj02.htm', target='_blank')
                                            | 马江浩
                                    p.abs.big  清华大学建筑设计研究院有限公司文化地产研究中心主任 
                                    .title.tiny
                                        a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj02.htm', target='_blank')
                                            | 导入外部力量推动雄安生活方式发生改变
                                    p.abs  把中国传统工艺中的优良价值观通过实物的方式传递给雄安老百姓。 
                                .interview-rot-btn
                                    a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj02.htm', target='_blank')
                                        | 进入访谈
                                        .icon-play
                    .swiper-slide.interview-rot-item
                        .interview-rot-item-in
                            .interview-rot-pic
                                a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj01.htm', target='_blank')
                                    img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419773_1536828634140_title0h.jpg', alt='张庆辉')
                            .interview-rot-title
                                .interview-rot-text
                                    .title
                                        a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj01.htm', target='_blank')
                                            | 张庆辉
                                    p.abs.big  中国服装设计师协会主席 
                                    .title.tiny
                                        a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj01.htm', target='_blank')
                                            | 中国服装设计师协会将助力雄安服装产业转型升级
                                    p.abs  全力构建雄安时尚生态新环境。雄安服装产业升级需多方努力。雄安服装产业应抓住机遇转型。 
                                .interview-rot-btn
                                    a(href='http://www.xiongan.gov.cn/2018zt/fzwhj/fzwhj01.htm', target='_blank')
                                        | 进入访谈
                                        .icon-play
                    .swiper-slide.interview-rot-item
                        .interview-rot-item-in
                            .interview-rot-pic
                                a(href='http://www.xiongan.gov.cn/2018-05/24/c_129879800.htm', target='_blank')
                                    img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419765_1536836616129_title0h.jpg', alt='刘元风')
                            .interview-rot-title
                                .interview-rot-text
                                    .title
                                        a(href='http://www.xiongan.gov.cn/2018-05/24/c_129879800.htm', target='_blank')
                                            | 刘元风
                                    p.abs.big  雄安新区中小学学生装（校服）研究中心主任 
                                    .title.tiny
                                        a(href='http://www.xiongan.gov.cn/2018-05/24/c_129879800.htm', target='_blank')
                                            | 雄安中小学学生装设计应立足于雄安文化
                                    p.abs  雄安新区中小学学生装研究中心作为本次中小学学生装设计邀请的发起方和策划方，成立之后做了哪些具体的工作？ 
                                .interview-rot-btn
                                    a(href='http://www.xiongan.gov.cn/2018-05/24/c_129879800.htm', target='_blank')
                                        | 进入访谈
                                        .icon-play
                    .swiper-slide.interview-rot-item
                        .interview-rot-item-in
                            .interview-rot-pic
                                a(href='http://www.xiongan.gov.cn/2018-06/20/c_129897617.htm', target='_blank')
                                    img(src='http://www.xiongan.gov.cn/titlepic/112341/1123419769_1536828644787_title0h.jpg', alt='吉文')
                            .interview-rot-title
                                .interview-rot-text
                                    .title
                                        a(href='http://www.xiongan.gov.cn/2018-06/20/c_129897617.htm', target='_blank')
                                            | 吉文
                                    p.abs.big  服装设计师 
                                    .title.tiny
                                        a(href='http://www.xiongan.gov.cn/2018-06/20/c_129897617.htm', target='_blank')
                                            | 雄安新区时尚产业前景广阔
                                    p.abs  雄安新区的服装产业转型升级正在深入进行，越来越多的品牌设计师与当地服装企业展开深度合作。 
                                .interview-rot-btn
                                    a(href='http://www.xiongan.gov.cn/2018-06/20/c_129897617.htm', target='_blank')
                                        | 进入访谈
                                        .icon-play

                .interview-rot-ctlbox
                    .interview-rot-pagination-box
                        .swiper-pagination.interview-rot-pagination
                    .swiper-button-prev.swiper-button-white.interview-rot-prev
                    .swiper-button-next.swiper-button-white.interview-rot-next