//- mark6
#mark6.box.mark6(data-tips='我要留言', data-name='mark6', nid='11190948')
    .area
        a(href='http://bbs.xiongan.gov.cn/view/xiongan/detail.html?tid=141486288', target="_blank")
            .col-bg-box
                .col
                    h2.col-title-mark6 
                        span.hide 我要留言

            img(src="/bundle/mark6Bg.jpg", alt="我要留言")     

        .content
            - var n = 0
            .text-list
                while n < 10
                    .item
                        .a1
                            span.title 网友留言：
                            span.text= n++ + 'adadadadadda'
                            span.time 2018-11-04
                        .a2 
                            span.title2 权威回复：
                            span.text2 adadadadadda
                            span.time2 2018-11-04



                