.page
	.page-content
		include ./inc/bannerAndNav.pug

		//- <!-- rotBig START -->
		//- .area
		//- 	a(href="/video/" class="colA link") 
		//- 		.items-col.items-col1(tips="精彩视频 | 栏目ID: 11206397 | 信息片ID: 11206759")
		//- 			.hide 精彩视频

		//- include ./inc/rotGallery
		//- <!-- rotBig END -->

		<!-- items START 聚焦新闻 -->
		.area.listHasImg
			a(href="/" class="colA link") 
				.items-col.items-col2(tips="聚焦新闻	栏目ID: 11206398	信息片ID: 11206760")
					.hide 聚焦新闻

			.listBox
				ul.list(data-cid="11206398")
					each val in [1,2,3,4,5,6,7,8,9,10]
						li
							.pic
								a(href="#" target="_blank")
									img(src= 'demo/demo4.png')
							.text
								a(href="#" target="_blank") 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十


			.listBoxMoreBtnBox
				.listBoxMoreBtn#addData 查看更多
		<!-- items END 聚焦新闻 -->

		<!-- demo footer START -->
		include ./inc/footer
		<!-- demo footer END -->

		<!-- include virtual="/2018zt/ssi_2018zt_footer.htm" START --> 
		<!--#include virtual="/2018zt/ssi_2018zt_footer.htm" --> 
		<!-- include virtual="/2018zt/ssi_2018zt_footer.htm" END --> 

		//- <div id="page-content"></div>
		//- <div class="block page-content-moreBtnBox">
		//-     <div class="row">
		//-         <button class="col-50 button button-outline button-large button-round addMore">查看更多</button>
		//-     </div>
		//- </div>