#richenganpai.box.schedule(data-tips='日程安排', nid='11190954')
    .area
        .col-bg-box
            .col
                h2.col-title-richenganpai
                    a(href='#richenganpai') 日程安排
        #schedule.schedule-box
            .item.active(data-date='2018-10-18')
                .year-box
                    .year 2018
                    .date-box
                        .month  10/
                        .day 18
                .todo-list
                    .todo-list-in
                        .i
                            .todo-date  会场一: 
                            .todo-title  容城市民体育运动中心 
                        .i
                            .todo-date  9:00-10:30 
                            .todo-title  设计周启动仪式暨主旨演讲 
                        .i
                            .todo-date  11:00-17:00 
                            .todo-title  工业设计创业成果展 
                        .i
                            .todo-date  11:00-17:00 
                            .todo-title  国际先锋设计科技体验馆 
                        .i
                            .todo-date  14:00-17:55 
                            .todo-title  G-Summit全球设计科学创新峰会 
                        .i
                            .todo-date  会场二: 
                            .todo-title  雄安市民服务中心 
                        .i
                            .todo-date  14:30-17:00 
                            .todo-title  芬兰设计日：主宾国活动 
                        .i
                            .todo-date  19:00-21:00 
                            .todo-title  Design Station设计不眠夜 
            .item(data-date='2018-10-19')
                .year-box
                    .year 2018
                    .date-box
                        .month  10/
                        .day 19
                .todo-list
                    .todo-list-in
                        .i
                            .todo-date  会场一: 
                            .todo-title  容城市民体育运动中心 
                        .i
                            .todo-date  09:00-17:25 
                            .todo-title  G-Summit全球设计科学创新峰会 
                        .i
                            .todo-date  09:30-17:00 
                            .todo-title  工业设计创新成果展 
                        .i
                            .todo-date  11:00-17:00 
                            .todo-title  国际先锋设计科技体验馆 
            // item START
            .item(data-date='2018-10-20')
                .year-box
                    .year 2018
                    .date-box
                        .month  10/
                        .day 20
                .todo-list
                    .todo-list-in
                        .i
                            .todo-date  会场一: 
                            .todo-title  容城市民体育运动中心 
                        .i
                            .todo-date  09:30-17:00 
                            .todo-title  工业设计创新成果展 
                        .i
                            .todo-date  09:30-17:00 
                            .todo-title  国际先锋设计科技体验馆 
                        .i
                            .todo-date  10:00-17:00 
                            .todo-title  国际设计新品发布会 
                        .i
                            .todo-date  会场二: 
                            .todo-title  雄安市民服务中心 
                        .i
                            .todo-date  09:30-11:00 
                            .todo-title  日本“一村一品”设计分享会 
            // item END
            // item START
            .item(data-date='2018-10-21')
                .year-box
                    .year 2018
                    .date-box
                        .month  10/
                        .day 21
                .todo-list
                    .todo-list-in
                        .i
                            .todo-date  会场一: 
                            .todo-title  容城市民体育运动中心 
                        .i
                            .todo-date  09:30-16:00 
                            .todo-title  国际先锋设计科技体验馆 
                        .i
                            .todo-date  09:30-16:00 
                            .todo-title  工业设计创新成果展 
                        .i
                            .todo-date  10:00-11:45 
                            .todo-title  国际设计新品发布会 
                        .i
                            .todo-date  15:00-16:00 
                            .todo-title  项目对接成果签约仪式 
            // item END
            // item START
            .item(data-date='2018-10-22-24')
                .year-box
                    .year 2018
                    .date-box
                        .month  10/
                        .day 22-24
                .todo-list
                    .todo-list-in
                        .i
                            .todo-date  
                            .todo-title  设计创新之旅 
                        .i
                            .todo-date  10月22-23日 
                            .todo-title  雄安新区：城市创新探索之旅 
                        .i
                            .todo-date  10月23-24日 
                            .todo-title  石家庄：信息技术、康复器具产业 
                        .i
                            .todo-date  10月23-24日 
                            .todo-title  邢台、邯郸：时尚消费品 
                        .i
                            .todo-date  10月23-24日 
                            .todo-title  廊坊：装备制造及家居产业 
                        .i
                            .todo-date  10月23-24日 
                            .todo-title  秦皇岛：医疗器械、康复辅助器具产业 
            // item END