//- .box.textAndImgBox
.box.textAndImgBox
    .textAndImg
        .textAndImg-in
            .leftSide.mobileBg
                .pic
                    img(src="demo/demo4.png", alt="")
                .text
                    .title
                        a(href="#") 扫描二维码
                    .subTitle
                        a(href="#") 进入微信投票页面

            .rightSide
                .abs
                    | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                    br
                    | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                    br
                    | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字

                .picBox
                    .pic
                        a(href="#")
                            img(src="demo/demo4.png", alt="")
                    .text
                        .title
                            a(href="#") 扫描二维码扫描二维码扫描二维码
                        .subTitle
                            a(href="#") 进入微信投票页面进入微信投票页面进入微信投票页面
                
                    