bannerTitleTop = 0
bannerRealHeight = 400px
bannerHeight = bannerRealHeight - bannerTitleTop

.banner
    width: areaWidth
    display: block
    height bannerHeight
    position: relative
    margin: 0 auto
    padding-top: bannerTitleTop
    // padding-bottom: 42px

    .bannerTitle
        z-index 2
        position: absolute
        transform: translate(-41%, 0)
        top: 105px
        display: block
        width: auto
        height 189px
        left: 50%
        margin 0 auto
        // margin-left: -94px
        // background-image: url(bannerTitle.png)
        // background-position: center center
        // background-size: auto 100%
        // background-repeat: no-repeat

    &-bg // .banner-bg
        // background-color: bannerBgColor
        // background-image: url(banner.png)
        background-image: url(banner.png)
        background-position: center 0
        background-size: auto auto
        background-repeat: no-repeat
        // background-color: var(--moo-bannerBg);
        // padding-bottom: 60px
        // min-height: 1000px
        // border-top: var(--f7-theme-color) 5px solid

    // &:after
    //     content: '<< 返回首页'
    //     position: absolute
    //     z-index 1
    //     width: 100px
    //     color #ffffff
    //     font-size: 16px
    //     left: 0
    //     bottom: 8px
    //     font-weight: 400

.isPageBanner // <div class="page isPageBanner">
    .spListArea
        width: 100%
        padding-top: 0 !important
        min-height: 500px

        .isLoadingTxt
            text-align: center
            margin-left: auto
            margin-right: auto
            display: block
            
.is-mobile
    // isMobBannerBgHeight = 120%
    // moblieBannerHeight = 400px
    .banner
        display: block
        position relative
        width: 100%
        height 300px
        overflow hidden

    .banner-bg
        background-size: auto 100%
        background-position: center 0
        // background-image: url(banner.png)
        position relative
        background-size: auto 300px

        &:after
            content: '<< 返回首页'
            position: absolute
            z-index 1
            width: 100px
            color #ffffff
            font-size: 16px
            left: 10px
            bottom: 5px
            font-weight: 400
            pointer-events: none

    .bannerTitle
        // z-index 2
        // position: absolute
        // transform: translateX(-50%)
        // left: 50%
        // top: 22%
        // width: 86%
        // transform: translate(-50%, -50%)
        // height auto
        display: none

    .bannerTitle-md
        display: block
        z-index 2
        position: absolute
        transform: translate(-42%, -53%)
        left: 50%
        top: 50%
        width: 100%
        height auto
        
    // @keyframes bgRot
    //     0% 
    //         background-position: 74% 0
    //     50% 
    //         background-position: 20% 0
    //     100% 
    //         background-position: 70% 0

    // bannerTitleTop = 22%

    // .banner-title1
    //     width: 88%
    //     height auto
    //     margin: 0
    //     top: bannerTitleTop

    // .banner-title2
    //     width: 80%
    //     height auto
    //     margin: 0
    //     // top: auto
    //     // bottom: 38%
    //     top: bannerTitleTop + 18%