<!-- demo banner & nav START -->
<!-- banner START -->
.box.banner-bg
    a.banner(href='/')
        h1.hide= title
        img.bannerTitle(src='bundle/bannerTitle.png', alt= title)
        img.bannerTitle-md.hide(src='/bundle/bannerTitle-md.png', alt= title)

<!-- banner END -->

//- <!-- nav START -->
//- .nav
    .nav-in
        a(href='http://www.xiongan.gov.cn', title='中国雄安官网', target='_blank')
            img.logo(src='http://www.xiongan.gov.cn/bundle/xiongan-logo-w.png', alt='http://www.xiongan.gov.cn')
        .btn-box(tips="导航和页面栏目标题控制 365百姓故事汇群众宣讲活动专题 头条属性 5max 栏目ID：11205807 信息片ID：11206171")
            a(href='#mark1', data-name='mark1', nid='11190945') 新闻聚焦
            a(href='#mark2', data-name='mark2', nid='11190944') 投票方式
            a(href='#mark3', data-name='mark3', nid='11191926') 候选选手专区
            a(href='#mark4', data-name='mark4', nid='11190946') 优秀选手风采展示
//- <!-- nav END -->

//- .logoBox
    .area
        .logoImg
            a(href="http://www.xiongan.gov.cn/" target="_blank" class="link external") 
                img(src="/bundle/icon-logo.png", alt="")
                .hide 中国雄安官网

<!-- demo banner & nav END -->