a(href='/kanjian/').link 看建雄安
a(href='/yaowen/').link 要闻聚焦
a(href='/jianshe/').link 建设者风采
a(href='/zhaobiao/').link 招标公告
//- a(href='/zhongyao/').link 重要时刻
//- a(href='/canjian/').link 参建单位
//- a(href='/gushi/').link 雄安建设者·说出你的故事
a(href='#zhongyao').link.external 重要时刻
a(href='#canjian').link.external 参建单位
a(href='#gushi')#navBtn_gushi.link.external 雄安建设者·说出你的故事
