
<div class="footer">
    <div class="footer-in">
        <p><span class="n">主办</span><span class="v">中共河北雄安新区工作委员会 河北雄安新区管理委员会</span></p>
        <p><span class="n">承办</span><span class="v">新华网股份有限公司</span></p>
        <p><span class="n">监制</span><span class="v">河北雄安新区网络安全和信息化领导小组办公室</span></p>
        <p>Copyright © 2019 www.xiongan.gov.cn All Rights Reserved.</p>
        <div class="textAndImg">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13062902000079">
            <img width="20" height="20" src="http://www.xiongan.gov.cn/bundle/20160225_ghs_v1.png" /> 冀公网安备 13062902000079号 </a> &nbsp;&nbsp; <a target="_blank" href="http://www.miibeian.gov.cn/" title="工业和信息化部ICP/IP地址/域名信息备案管理系统"> 京ICP证010042号-22 </a>
        </div>
    </div>
</div>