.right
    //- .items-col.items-col0-0
    //-     .hide 活动资讯
    .isNoContent 正在加载...
    //- //- .col
    //-     h2.col-title-mark1
    //-         a(href='#mark1') 新闻聚焦
            
    //- h2.tiny-title
        a(href='http://www.xiongan.gov.cn/2018-10/19/c_129975705.htm', target='_blank') 一二三四五六七八九十一二三四五六七八九十一二三四五六七
    //- p.abs 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十
    //- .line

    //- ul.list
        li
            a(href='http://www.xiongan.gov.cn/2018-10/23/c_129977857.htm', target='_blank') 一二三四五六七八九十一二三四五六七八九十一二三四五六七八九
        li
            a(href='http://www.xiongan.gov.cn/2018-10/22/c_129977162.htm', target='_blank') 【快闪】60秒带你回顾工业设计创新成果展【快闪】60秒
        li
            a(href='http://www.xiongan.gov.cn/2018-10/22/c_129977152.htm', target='_blank') G-Summit全球设计科学创新峰会首度亮相河北G-Summit全球
        li
            a(href='http://www.xiongan.gov.cn/2018-10/22/c_129976388.htm', target='_blank') 河北工业设计周国际设计新品发布会惊艳亮相河北工业设亮相
        li
            a(href='http://www.xiongan.gov.cn/2018-10/21/c_129976272.htm', target='_blank') 工业设计创新成果展这几种打开方式你选哪个河北工业设计周国
        li
            a(href='http://www.xiongan.gov.cn/2018-10/20/c_129975882.htm', target='_blank')
                | 飞“阅”设计周
                | 航拍工业设计创新成果展
        li
            a(href='http://www.xiongan.gov.cn/2018-10/20/c_129975278.htm', target='_blank')
                | 加快工业设计与国际接轨步伐
                | 提速河北智造
        li
            a(href='http://www.xiongan.gov.cn/2018-10/19/c_129975334.htm', target='_blank')
                | 设计不眠夜
                | 一场设计交流与灵感碰撞的盛宴
        li
            a(href='http://www.xiongan.gov.cn/2018-10/20/c_129976031.htm', target='_blank')
                | 文化设计与相关产业融合发展
                | 提升产业价值链
        li
            a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974118.htm', target='_blank') 河北工业设计周:六大板块展示工业设计力作
    //- .more(data-more="文化新闻眼") 查看更多 &gt;&gt;&gt;