.rot2BoxBox
    .rot2Box
        #rot2.swiper-container.rot2
            .swiper-wrapper
                .isNoContent 正在加载...
                //- each rot2Val in [1,2]

                    <!-- 子循环 开始 -->
                    .swiper-slide.itemBox
                        .itemBoxLeft
                            .pic
                                a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                                    img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                            .title
                                .text
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')= rot2Val + '第一届河北国际工业设计周启幕'

                        .itemBoxRight
                            <!-- 子子循环 开始 -->
                            .itemBoxRight-item
                                .pic
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                                .title
                                    .text
                                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')  第一届河北国际工业设计周启幕第一届河北国际工业设计周启幕第一届河北国际工业设计周启幕
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank') 
                                        .icon-jump
                            <!-- 子子循环 结束 -->

                            //- .itemBoxRight-item
                                .pic
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                                .title
                                    .text
                                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')  第一届河北国际工业设计周启幕第一届
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank') 
                                        .icon-jump

                            //- .itemBoxRight-item
                                .pic
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                                .title
                                    .text
                                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')  第一届河北国际
                                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank') 
                                        .icon-jump

                    <!-- 子循环 结束 -->

        .swiper-pagination.rot2-pagination
        .swiper-button-prev.rot2-prev
        .swiper-button-next.rot2-next