<!-- Swiper -->
.rotGallery
    <div class="swiper-container gallery-top">
        .swiper-wrapper
            .swiper-slide.item
                .pic
                    //- a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                .title
                    .text
                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')  第一届河北国际工业设计周启幕 
            .swiper-slide.item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/16/c_129972784.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112357/1123573307_1539948335856_title0h.jpg', alt='陈刚李谦调研河北国际工业设计周筹备工作')
                .title
                    .text
                        a(href='http://www.xiongan.gov.cn/2018-10/16/c_129972784.htm', target='_blank')  陈刚李谦调研河北国际工业设计周筹备工作 
            .swiper-slide.item
                .pic
                    //- a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                .title
                    .text
                        a(href='demo/demo1.png', target='_blank')  第一届河北国际工业设计周启幕

            .swiper-slide.item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
                .title
                    .text
                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')  第一届河北国际工业设计周启幕 


            .swiper-slide.item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974968.htm', target='_blank')
                        img(src='http://www.xiongan.gov.cn/titlepic/112358/1123587464_1540006504908_title0h.png', alt='2000余件工业精品绽放雄安')
                .title
                    .text
                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974968.htm', target='_blank')  2000余件工业精品绽放雄安 
                        
            .swiper-slide.item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129973951.htm', target='_blank')
                        img(src='demo/demo3.png', alt='记者探营工业设计周创新成果展区')
                .title
                    .text
                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129973951.htm', target='_blank')  记者探营工业设计周创新成果展区 

            .swiper-slide.item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129973951.htm', target='_blank')
                        img(src='demo/demo2.png', alt='记者探营工业设计周创新成果展区')
                .title
                    .text
                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129973951.htm', target='_blank')  记者探营工业设计周创新成果展区 

            .swiper-slide.item
                .pic
                    a(href='http://www.xiongan.gov.cn/2018-10/18/c_129973951.htm', target='_blank')
                        img(src='demo/demo1.png', alt='记者探营工业设计周创新成果展区')
                .title
                    .text
                        a(href='http://www.xiongan.gov.cn/2018-10/18/c_129973951.htm', target='_blank')  记者探营工业设计周创新成果展区 

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    //- <div class="swiper-container gallery-thumbs">
    //-     .swiper-wrapper
    //-         .swiper-slide.item
    //-             .pic
    //-                 //- a(href='http://www.xiongan.gov.cn/2018-10/18/c_129974315.htm', target='_blank')
    //-                     img(src='http://www.xiongan.gov.cn/titlepic/112356/1123568219_1539857860126_title0h.png', alt='第一届河北国际工业设计周启幕')
    //-         .swiper-slide.item
    //-             .pic
    //-                 img(src='http://www.xiongan.gov.cn/titlepic/112357/1123573307_1539948335856_title0h.jpg', alt='陈刚李谦调研河北国际工业设计周筹备工作')

    //-         .swiper-slide.item
    //-             .pic
    //-                 img(src='http://www.xiongan.gov.cn/titlepic/112358/1123587464_1540006504908_title0h.png', alt='2000余件工业精品绽放雄安')

    //-         .swiper-slide.item
    //-             .pic
    //-                 img(src='http://www.xiongan.gov.cn/titlepic/112357/1123573374_1539857221632_title0h.jpg', alt='记者探营工业设计周创新成果展区')

    //- </div>

<!-- Swiper JS -->
