body
p[style]
font[face]
    font-family: "PingFang SC","SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight: 300

    // body
    // html
    // p[style]
    // font[face]
    //     font-family: "PingFang SC","SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif
    //     font-weight: 300

    .windows &,
    .windows & a
        /*font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;*/
        font-family: Microsoft YaHei, Microsoft YaHei Lights, Arial;
        /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/

    