.footer
    background-color: var(--moo-footerBg)
    text-align: center
    padding: 40px 0 60px
    font-size: 12px
    line-height: 18px
    color: #ffffff
    z-index 4
    position relative
    
    &-in
    .textAndImg
        text-align: left
        width: 340px
        margin: 0 auto 6px

    .n
        display: inline-block
        border-right: 1px solid var(--moo-color-footerN)
        padding-right: 0.6em

    .v
        display: inline-block
        padding-left: 0.6em

    .tiny
        font-size: 10px
        color: var(--f7-theme-color-tint)
        text-align: center
        margin-top: 20px

    .tiny:hover
        color: var(--f7-theme-color-tint) !important

    .textAndImg
        line-height: 20px
        margin-top: 10px
        
        &
        & a
            color: var(--moo-color-footerTextAndImg)
            display: flex
            justify-content: flex-start
            align-items: center

        img
            width: 20px
            height 20px
            margin-right: 6px
                    

.is-mobile
    .footer
        width: 100%
        padding: 16px 0 30px

        &-in
        .textAndImg
            width: 90% 