/* outside mods */
// @import './swiper'

/* index.styl */
@import './configs'
@import './banner'
@import './fonts'
// @import './nav'
// @import './nav2'
// @import './topTitle'

// @import './topBigTitle'

// @import './col'

@import './base'
@import './footer'


.logoBox
    logoBoxHeight = 74px

    border-top: #e8d779 3px solid
    height logoBoxHeight
    margin-bottom: 22px

    .logoImg
        height logoBoxHeight
        width: 239px
        background-color: #e8d779
        border-bottom-right-radius: 15px
        border-bottom-left-radius: 15px
        display: flex
        justify-content: center

        img
            width: 164px
            height 55px 

.is-mobile
    .logoImg
        margin: 0 auto

.area
    width: areaWidth
    position relative

// .big-title
//     text-align: center
//     &
//     a
//         color: blueColor
//         font-size: 36px
//         line-height: 50px

// .tiny-title
//     margin-bottom: 6px
//     &
//     a
//         color: #333333
//         font-size: 22px
//         line-height: 36px

// .abs
//     line-height: 24px
//     font-size: 14px
//     color: #666666
//     max-height (@line-height * 2)
//     overflow hidden
//     a
//         color: blueColor
//         margin-left: 0.5em

// .line
//     border-top: 1px #cccccc dashed
//     margin: 12px 0

// .gray-bg
//     background-color: #ededed
//     background-image: url(gray-bg.png)



// @import './rot'


// .col1
//     .big-title
//         margin-bottom: 20px
//         color: #03114d

//     .tiny-title
//     .tiny-title a
//         color: #03114d
//         font-size: 18px
//         font-weight: 800
//     .abs
//         color: #999999
//         font-size: 14px
//         // font-weight: 600
    
//     .list
//         font-weight: 400
//         &
//         a
//             color: #03114d
//     .area
//         padding-top: 30px
//         // padding-right: 100px
//         padding-bottom: 35px
//         // padding-left: 100px

//     .content
//         height rotHeight
//         position: relative

//         .rot
//             position: absolute
//             top: 0
//             left: 0
//             right: auto
        
//         .right
//             width 490px
//             position: absolute
//             top: 0
//             right: 0
//             left: auto
//             height (rotHeight - 2)
//             overflow hidden

//         .col
//             margin-bottom: 20px

//     .more
//         text-align: right
//         font-weight: 500
//         margin-top: 10px

//         &
//         & a
//             // color: #000000
//             font-size: 16px
//             line-height: 32px


// .col-in
//     margin-bottom: 26px
//     border-bottom:  1px solid blueColor

//     .t
//         display: inline-block
//         background-color: blueColor
//         padding: 6px 20px
//         position relative

//         &
//         a
//             color: #ffffff
//             font-size: 20px
//             line-height: 32px
        
//         &:after
//             content: ''
//             display: inline-block
//             position: absolute
//             width: 5px
//             height 100%
//             background-color: blueColor
//             top: 0
//             right: -10px
    


// @import './icons'
@import './items'

// @import './rotBig'

// @import './textAndImgBox'
@import './listBox'

@import './rotGallery'


@import './is-mobile'
