.is-widthTiny
    .items-col
    .area
        width: var(--moo-widthTiny)

    .rot
    .rot .item
    .rot .pic
    .rot .pic a
        width: var(--moo-widthTiny-rotWidth)

    .col1
        .content 
            .right
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                width: var(--moo-widthTiny-col1_right)