.listBoxMoreBtnBox
    text-align: center

.listBoxMoreBtn
    cursor pointer
    margin: 20px auto 120px
    display: inline-block
    border-radius: 4px
    padding: 12px 160px
    font-weight: 600
    border: #296cd2 1px solid
    font-size: 1.1em
    color: #296cd2
    background-color: #ffffff

    &:hover
        color: #ffffff
        background-color: #296cd2

    &.disable
        pointer-events: none
        border-color: #cccccc
        color: #cccccc
        &:hover
            background-color: #ffffff
    

    &.active-state
        background: #000000


.listHasImg
    .listBox
        width: 960px
        text-align: left
        margin: 40px auto

        .list
            listHeight = 180px

            li.noPic
                height auto
                .text
                    width 100%
                    height auto
                    padding-top: 20px
                    padding-bottom: 20px
                    // .abs
                    //     margin-top: 8px

            li
                position relative
                height auto
                display: flex
                justify-content: space-between
                margin-bottom: 30px
                padding-left: 30px

                &:before
                    content: ''
                    display: inline-block
                    position: absolute
                    top: 50%
                    left 0
                    width: 5px
                    height 100%
                    border-radius: 0
                    transform: translateY(-50%)
                
                &:hover
                    background-color: #f1f1f1

                .pic
                    pic()
                    position relative
                    overflow hidden
                    border-radius: 4px

                    &
                    & a
                        width: 300px
                        height listHeight

                    img
                        img()
                        width: auto
                        height 100%

                .text
                    width: 600px
                    height listHeight
                    font-size: 16px
                    line-height: 22px
                    text-align: left

                    &
                    & a
                        position relative
                        display: flex
                        justify-content: center
                        flex-direction: column
                        text-align: left
                        

                    .link
                        text-align: left 
                        align-items: flex-start

                    .title
                        font-size: 25px;
                        // color: rgb(1, 1, 1);
                        font-weight: bold;
                        text-align: left;   
                        line-height: 36px                

                    .abs
                        margin-top: 20px 

.is-mobile
    .listBox
        // display: block
        width: 86%
        margin: 20px auto 20px

        .list
            margin 0

            li
                margin-top: 0
                margin-bottom: 0
                line-height: 25px

                &:before
                    background-color: red

                // img
                //     width: auto
                //     height 180px
                //     // margin-top: 10px
    
    .imgList
        .listBox
            li
                width: 100%
                height auto
                padding 0
                margin-bottom: 20px

    .listHasImg
        .listBox
            .list
                li
                    font-size: 18px
                    // position relative
                    // height auto
                    // display: block
                    // justify-content: start
                    margin-bottom: 0
                    margin-top: 20px
                    padding-left: 20px
                    // align-items: center
                    flex-direction: column-reverse

                    &:before
                        width: 3px
                    .pic
                        margin-bottom: 10px

                    .text
                        width: auto
                        height auto

                        .title
                            font-size: 20px
                            line-height: 30px
                            word-break: break-all
                            margin-bottom: 0

                        .abs
                            margin-top: 6px
                            // margin-bottom: 10px


    .listHasImg .listBox .list li.noPic .text
        padding-top: 3px
        padding-bottom: 0

        .title
            margin-bottom: 0

    .listBoxMoreBtn
        // cursor pointer
        // margin: 20px auto 120px
        // display: inline-block
        // border-radius: 4px
        padding: 12px 40px
        margin: 0 auto 60px
