.mark3.isPc
    // padding-bottom: 40px
    .item-text-box
        width: auto

    .title
        top: 16px
        position: absolute
        padding-left: 0
        //     font-size: 18px
        //     line-height: 32px
        //     max-height: @line-height
        //     overflow hidden
        //     font-weight: 600
        //     display: flex
        //     align-items: baseline
        
        //     position relative
        //     margin-bottom: 12px

        &:before
            display: none
        //         content: ''
        //         display: block
        //         width: 4px
        //         height 18px
        //         background-color: titleBeforeBgColor
        //         position: absolute
        //         left 0
        //         top: 6px

    //     &
    //     & a
    //         color: #03114d

    mark3_titleTop = 60px

    .abs
    .pic
        
        position: absolute

    .abs
        top: mark3_titleTop - 4px
        right: 0
        width: 46%
        max-height: 24px * 6
        text-indent: 0
    //     // margin-bottom: 24px
    //     // padding-bottom: 18px
    //     color: #999999
    //     line-height: 24px
    //     // border-bottom: 1px absBorderBottomColor dashed

    //     a
    //         color: absAColor

    .pic
        left: 0
        top: mark3_titleTop
    //     width: 240px
    //     height 136px
    //     overflow hidden
    //     position relative
    //     background-image: url(/bundle/icon-logo.png)
    //     background-position: center center
    //     background-size: 30% auto
    //     background-color: picColor
    //     background-repeat: no-repeat

    //     img
    //         position: absolute
    //         width: auto
    //         height 100%
    //         top: 50%
    //         left: 50%
    //         transform: translate(-50%, -50%)

    .item
        height 180px
        position relative
        display: flex
        flex-direction: column
        border-bottom: 1px #ec4082 dashed
        flex-wrap: wrap
        justify-content: space-between
        padding-top: 20px
        padding-bottom: 20px
        flex: 1 auto
        align-items: center
        width: 48%
        
        

        &:nth-child(even)
            flex-direction: column

        &:nth-child(odd)
            margin-right: 30px

    .item-text-box
        width: 100%

    .content
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap

    .more-btn
        display: none

.has-more-mark3
    .content
        overflow hidden