
.mark6
    .content
        overflow hidden
    //     width: 1111px
    //     margin-left: -50px
    //     margin-bottom: 100px
    //     // overflow hidden

    //     // iframe
    //     //     width: 1111px
        //     height 1200px
        //     // margin-top: -60px

        .text-list
            padding: 60px 20px
            font-size: 16px
            line-height: 26px
            
            .item
                border-bottom: 1px #bdbdbd dashed 
                padding-bottom: 1em
                margin-bottom: 1em

            aTime()
                text-align: right
                display: block
                color: #bdbdbd
                font-size: 12px
                line-height: 16px

            .a1
                margin-bottom: 0.3em

                .title
                    color: #3c9fe2
                    font-weight: 400
                // .text 
                //     color: #ff2727
                .time
                    aTime()
                    margin-right: 1em
            .a2 
                background-color: #eeeeee
                padding: 10px 1em

                .title2 
                    font-weight: 400
                    color: #ff2727
                // .text2 
                //     color: #3c9fe2
                .time2
                    aTime()

// .has-more-mark6
//     .mark6
//         .content
//             padding-bottom: 100px
                        