.mark2
    padding-bottom: 40px
    
    .title
        font-size: 18px
        line-height: 32px
        max-height: @line-height
        overflow hidden
        font-weight: 600
        display: flex
        align-items: baseline
        padding-left: 1em
        position relative
        margin-bottom: 12px

        &:before
            content: ''
            display: block
            width: 4px
            height 18px
            background-color: titleBeforeBgColor
            position: absolute
            left 0
            top: 6px

        &
        & a
            color: #03114d

    .abs
        // margin-bottom: 24px
        // padding-bottom: 18px
        text-indent: 2em
        color: #999999
        line-height: 24px
        // border-bottom: 1px absBorderBottomColor dashed

        a
            color: absAColor

    .pic
        width: 240px
        height 136px
        overflow hidden
        position relative
        background-image: url(/bundle/icon-logo.png)
        background-position: center center
        background-size: 30% auto
        background-color: picColor
        background-repeat: no-repeat

        img
            position: absolute
            width: auto
            height 100%
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

    .item
        display: flex
        flex-direction: row
        border-bottom: 1px #ec4082 dashed
        flex-wrap: nowrap
        justify-content: space-between
        padding-top: 20px
        padding-bottom: 20px
        flex: 1 auto
        align-items: center

        &:nth-child(even)
            flex-direction: row-reverse

    .item-text-box
        width: 715px


.has-more-mark2
    .content
        overflow hidden
    