// media
.col4.media
    mediaOuterHeight = 620px
    position: relative
    z-index 2
    height mediaOuterHeight
    
    .area
        height auto
        
    .col-bg-box
        margin-bottom: 45px

    .big-rot
        width: 842px

        &
        .item
        .pic
            height: 375px
            img
                // 图片宽度适配顶部对其
                position: absolute;
                width: 100%;
                height: auto;
                top: 0;
                left: 50%;
                transform: translate(-50%,0);
        .title
            display: none

    .media-big-rot-next
    .media-big-rot-prev
        margin-top: 30px