.memorabilia-box {
    margin: 0 auto 30px
    position: relative;
    width: 1040px;
    height: 254px;
    font-size: 14px;
    line-height: 24px
}

.memorabilia-box>.memorabilia-line {
    position: absolute;
    top: 36px;
    left: -30px;
    padding: 0 30px;
    width: 100%;
    height: 5px;
    background: url(http://www.xiongan.gov.cn/strategy/images/memorabilia-line.png) repeat-x center
}

.memorabilia-box>.memorabilia-arrow {
    position: absolute;
    top: 20px;
    width: 34px;
    height: 34px;
    background: no-repeat center
}

.memorabilia-box>.memorabilia-arrow.prev {
    left: -40px;
    background-image: url(http://www.xiongan.gov.cn/strategy/images/memorabilia-arrow-prev.png)
}

.memorabilia-box>.memorabilia-arrow.next {
    right: -40px;
    background-image: url(http://www.xiongan.gov.cn/strategy/images/memorabilia-arrow-next.png)
}

.memorabilia-container {
    margin-left: -5px;
    padding: 0 5px;
    width: 100%;
    height: 100%
}

.memorabilia-container .swiper-slide {
    cursor: pointer;
}

.memorabilia-container .swiper-slide>.date {
    width: 100%;
    line-height: 2;
    height 28px
    text-align: center;
    color: #757575
}

.memorabilia-container .swiper-slide>.style {
    height: 33px;
    border-bottom: 1px solid #dcdcdc;
    background: url(http://www.xiongan.gov.cn/strategy/images/memorabilia-style.png) no-repeat center;
    -webkit-transition: all 0.7s;
    transition: all 0.7s
}

.memorabilia-container .swiper-slide>.content {
    min-height: 189px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s
}

.memorabilia-container .swiper-slide>.content>.text {
    padding: 3px;
    font-family: "微软雅黑"
}

.memorabilia-container .swiper-slide>.content>.media {
    position: relative;
    cursor: pointer;
    overflow: hidden
}

.memorabilia-container .swiper-slide>.content>.media a {
    display: block;
    width: 100%
    height 93px
    overflow hidden
}

.memorabilia-container .swiper-slide>.content>.media img {
    display: block;
    width: 100%
    height: auto
}

.memorabilia-container .swiper-slide>.content>.media:after {
    content: "";
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 24px;
    height: 15px;
    background: url(http://www.xiongan.gov.cn/strategy/images/memorabilia-icon-video.png) no-repeat center
}

.memorabilia-container .swiper-slide>.content .btn-audio {
    text-indent: -999em;
    display: inline-block;
    width: 23px;
    height: 21px;
    vertical-align: top;
    background: url(http://www.xiongan.gov.cn/strategy/images/memorabilia-icon-audio.png) no-repeat center
}

.memorabilia-container .swiper-slide>.content .play {
    background-color: #e8505c;
    background-image: url(http://www.xiongan.gov.cn/strategy/images/memorabilia-icon-audio-active.png)
}

.memorabilia-container .swiper-slide>.content .media[data-url=""] {
    cursor: default
}

.memorabilia-container .swiper-slide>.content .media[data-url=""]:after, .memorabilia-container .swiper-slide>.content>.media>img[src=""], .memorabilia-container .swiper-slide>.content .btn-audio[data-url=""] {
    display: none
}

.memorabilia-container .active>.date {
    color: #e8505c
}

.memorabilia-container .active>.style {
    border-bottom-color: #e8505c;
    background-image: url(http://www.xiongan.gov.cn/strategy/images/memorabilia-style-active.png)
}

.memorabilia-container .active>.content {
    background: #fff;
    box-shadow: 0px 2px 2px 2px rgba(255, 160, 168, 0.15)
}