areaWidth = 1240px

blueColor = #1ea0da
dotColor = blueColor
navBgColor = #d72c23
rotSwiperPaginationBulletActiveBgColor = navBgColor
bannerBgColor = navBgColor
footerBgColor = navBgColor

footerColor = navBgColor
footerInsideLine_n_color = rgba(#ffffff, 0.3) // 小竖线颜色 #1aabd1
footerTextColor = #ffffff
footerTextHoverColor = #ffffff !important


picColor = dotColor
titleBeforeBgColor = dotColor
absBorderBottomColor = dotColor
absAColor = dotColor

mainColorBg = linear-gradient(to right,#032e60 0,#185299 50%,#032e60 100%);

LMRWidth = 320px
LMRHeight = 285px

mobileWidth = 90%

contentBoxLeftWidth = 66%
contentBoxRightWidth = 26%

navBg()
    background-color: navBgColor
    // background: -moz-linear-gradient(left, rgba(30,42,179,1) 0%, rgba(188,45,149,1) 100%);
    // background: -webkit-linear-gradient(left, rgba(30,42,179,1) 0%,rgba(188,45,149,1) 100%);
    // background: linear-gradient(to right, rgba(30,42,179,1) 0%,rgba(188,45,149,1) 100%);
