
rot2ItemBoxHeight = 459px

.rot2BoxBox
    background: #f9f9f9
    padding: 36px 0
    // margin-bottom: 50px

.rot2Box
    position: relative
    width: (1174px + 60px * 2)
    height rot2ItemBoxHeight
    margin: 0 auto

    .rot2
        width: 1174px
        height 460px
        margin: 0 auto
        // border: 1px #ffffff solid

    .rot2-prev
    .rot2-next
        color: #c30e11
        outline: none 
    .rot2-prev
        // 
    .rot2-next
        margin-right: 0

    .rot2-pagination
        left: 50%
        transform: translateX(-50%)
        // width: 50%
        // border: 1px solid #ffffff

        .swiper-pagination-bullet
            outline: none
            width: 60px
            height 4px
            border-radius: (@height / 2)
            background-color: #ffffff
            // opacity 1 

        .swiper-pagination-bullet-active
            background-color: #ffffff

        .swiper-pagination-bullet+.swiper-pagination-bullet
            margin-left: 6px


    .itemBox
        display: flex
        justify-content: space-between
        height rot2ItemBoxHeight

    .itemBoxLeft
        position: relative
        height rot2ItemBoxHeight

        .pic
            pic()

            &
            & a
                width rot2ItemBoxHeight
                height rot2ItemBoxHeight

            img
                img()
                height 100%
                width: auto

        .title
            title()
            width rot2ItemBoxHeight
            font-size: 16px

            &
            & a 
                color #FFF
                
            .text
                text()
                

    .itemBoxRight
        display: flex
        justify-content: space-between
        overflow hidden
        width: 705px

        .itemBoxRight-item
            itemBoxRightItemWidth = 230px
            width: itemBoxRightItemWidth
            height rot2ItemBoxHeight
            background-color: #ffffff
            position relative

            .pic
                pic()
                position relative
                
                &
                & a
                    width itemBoxRightItemWidth
                    height itemBoxRightItemWidth

                img
                    img()
                    height 100%
                    width: auto

            .title
                title()
                width itemBoxRightItemWidth
                font-size: 16px
                position relative
                background: none
                height 230px
                position relative

                &
                & a 
                    font-size: 20px
                    color: rgb(1, 1, 1)
                    font-weight: bold
                    text-align: center
                
                .text
                    text()
                    width auto
                    margin: 30px 1em 20px
                    line-height: 32px
                    height (@line-height * 3)
                    overflow hidden
                    // border: red 1px solid 

                    a
                        height 100%
                        position relative

                .icon-jump
                    display: block
                    margin: 10px auto 0
                    width: 30px
                    height @width
                    background-image: url(icon-jump.png)
                    background-position: center center
                    background-repeat: no-repeat
                    background-size: 100% 100%

            &:nth-child(even)
                display: flex
                flex-direction: column-reverse
                justify-content: space-between
                

.is-mobile
    .rot2BoxBox
        padding: 10px 0 30px
    
    rot2BoxHeight = 375px

    .rot2Box
    .rot2
        width 100%
        height rot2BoxHeight

        .rot2-prev
        .rot2-next
            display: none

        .swiper-pagination-bullet
            width: 20px

        .swiper-pagination-bullet+.swiper-pagination-bullet
            margin-left: 3px

        .mobile-itemBox
            display: flex
            justify-content: space-between
            height rot2BoxHeight

            .pic
                pic()
                width: 100%
                height rot2BoxHeight

                a
                    width: 100%
                    height rot2BoxHeight
                img
                    img()
                    height 100%
                    width: auto
            .title
                title()
                width 100%
                font-size: 16px
                text-align: center

                &
                & a 
                    color #FFF
                    
                .text
                    text()
                    // 