.rotGallery
    rotGalleryHeight = 900px
    picBgColor = #e8d779

    position relative
    overflow hidden
    // background-color: #cccccc
    border-radius: 4px
    width: areaWidth
    margin: 20px auto 60px
    height rotGalleryHeight 

    .link
        // display: inline
        width 100%
        height 100%

    .swiper-container
        width: 100%
        height: rotGalleryHeight
        margin: 0 auto
        
        // .swiper-slide
        //     background-size: cover
        //     background-position: center
        &
        .item
        .pic
            width: 100%
            height: 100%
            overflow hidden
            
        .item
            position relative

            .pic
                position: absolute
                z-index 1
                background-image: url(/bundle/icon-logo.png)
                background-position: center center
                background-size: auto auto
                background-color: picBgColor
                background-repeat: no-repeat

                img
                    position: absolute
                    width: auto
                    height 100%
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
            .title
                position: absolute
                z-index 2
                // min-width 50%
                bottom: 10%
                left: 0
                // background-image: url(rot-title-bg.png)
                // background-position: 0 bottom
                // background-repeat: repeat-x
                // background-size: auto 60%
                
                background: linear-gradient(to left, rgba(#56d0b2, 0.8) 0%, rgba(#2b779f, 0.8) 100%);
                height: 50px
                line-height: @height
                padding: 10px 60px
                
            .text
                // width: 100%
                margin: 0 auto
                overflow hidden
                line-height: 50px
                font-weight: 400

                &
                a
                    font-size: 24px
                    color: #ffffff
                    
        btnWidth = 40px

        .swiper-button-prev
        .swiper-button-next
            position: absolute
            width: btnWidth
            height 62px
            top: 50%
            margin-top: -(@height / 2)
            z-index 3
            cursor pointer
            // display: none
            transition: all 0.5s
            background-size: auto
            color: red

            &:hover
                opacity 1

            &:active
                opacity 0.3

            &.swiper-button-disabled
                opacity 0.3 !important
                pointer-events: visible
                cursor: default

        .swiper-button-prev
            left - btnWidth
            // background-image: url(rot-icon-prev.png)

        .swiper-button-next
            right - btnWidth
            // background-image: url(rot-icon-next.png)

        &:hover
            .swiper-button-prev
                left 0
            .swiper-button-next
                right 0

    .gallery-top
        width: 100%
        height: 75%

    .swiper-container.gallery-thumbs
        height: 25%
        box-sizing: border-box
        padding: 10px 0 0
        
        .swiper-slide
            width: 25%
            height: 100%
            opacity: 0.4

        .item
            cursor pointer
            // position relative
            .pic
                // position: absolute
                // z-index 1
                // background-image: url(/bundle/icon-logo.png)
                // background-position: center center
                background-size: auto 20%
                // background-color: #666666
                // background-repeat: no-repeat

                // img
                //     width: 100%
                //     height auto


        .swiper-slide-thumb-active
            opacity: 1
            .pic
                background-color: picBgColor

.is-mobile
    .rotGallery
        width: 94%
        margin: 10px auto 20px
        height auto 

        .swiper-container
            // width: 100%
            height: 300px

            .swiper-button-prev
            .swiper-button-next
                display: none

            .title
                height: 30px 
                padding: 10px 14px 
                margin: 0
                bottom: 5%
            
            .pic
                background-position-y: 42%
                background-size: auto 10%

            .text

                &
                a
                    font-size: 16px
                    line-height 30px
                    color: #ffffff