
rotPicABigAndMoreTinyItemBoxHeight = 459px

.rotPicABigAndMoreTinyBoxBox
    // background: #f9f9f9
    // padding: 36px 0
    margin: 0 auto
    padding-bottom: 36px

.rotPicABigAndMoreTinyBox
    position: relative
    width: (1174px + 60px * 2)
    height rotPicABigAndMoreTinyItemBoxHeight
    margin: 0 auto
    z-index 4
    .isNoContent
        display: flex
        align-items: center
        
    .rotPicABigAndMoreTiny
        width: 1174px
        height 460px
        margin: 0 auto
        // border: 1px #ffffff solid

    .rotPicABigAndMoreTiny-prev
    .rotPicABigAndMoreTiny-next
        color: var(--moo-color)
        outline: none 

    .rotPicABigAndMoreTiny-prev
        // 
    .rotPicABigAndMoreTiny-next
        margin-right: 0

    .rotPicABigAndMoreTiny-pagination
        margin-top: 10px
        left: 50%
        transform: translateX(-50%)
        // width: 50%
        // border: 1px solid #ffffff

        .swiper-pagination-bullet
            outline: none
            width: 60px
            height 4px
            border-radius: (@height / 2)
            background-color: var(--f7-theme-color)
            // opacity 1 

        .swiper-pagination-bullet-active
            background-color: var(--f7-theme-color)

        .swiper-pagination-bullet+.swiper-pagination-bullet
            margin-left: 6px


    .itemBox
        display: flex
        justify-content: space-between
        height rotPicABigAndMoreTinyItemBoxHeight

    .itemBoxLeft
        position: relative
        height rotPicABigAndMoreTinyItemBoxHeight

        .pic
            pic()

            &
            & a
                width rotPicABigAndMoreTinyItemBoxHeight
                height rotPicABigAndMoreTinyItemBoxHeight

            img
                img()
                height 100%
                width: auto

        .title
            title()
            width rotPicABigAndMoreTinyItemBoxHeight
            font-size: 16px

            &
            & a 
                color #FFF
                
            .text
                text()
                

    .itemBoxRight
        display: flex
        justify-content: space-between
        overflow hidden
        width: 705px

        .itemBoxRight-item
            itemBoxRightItemWidth = 230px
            width: itemBoxRightItemWidth
            height rotPicABigAndMoreTinyItemBoxHeight
            background-color: var(--moo-color)
            position relative

            .pic
                pic()
                position relative
                
                &
                & a
                    width itemBoxRightItemWidth
                    height itemBoxRightItemWidth

                img
                    img()
                    height 100%
                    width: auto

            .title // .itemBoxRight .title
                title()
                width itemBoxRightItemWidth
                font-size: 16px
                position relative
                background: none
                height 230px
                position relative
                // background-color: #f8f8f8

                &
                & a 
                    font-size: 20px
                    color: #ffffff
                    font-weight: bold
                    text-align: center
                
                .text
                    text()
                    width auto
                    margin: 30px 1em 20px
                    line-height: 32px
                    height (@line-height * 3)
                    overflow hidden
                    // border: red 1px solid 

                    a
                        height 100%
                        position relative

                .icon-jump
                    display: block
                    margin: 10px auto 0
                    width: 30px
                    height @width
                    background-image: url(icon-jump.png)
                    background-position: center center
                    background-repeat: no-repeat
                    background-size: 100% 100%

            &:nth-child(even)
                display: flex
                flex-direction: column-reverse
                justify-content: space-between
                

.is-mobile
    .rotPicABigAndMoreTinyBoxBox
        padding: 10px 0 30px
    
    rotPicABigAndMoreTinyBoxHeight = 375px

    .rotPicABigAndMoreTinyBox
    .rotPicABigAndMoreTiny
        width 100%
        height rotPicABigAndMoreTinyBoxHeight

        .rotPicABigAndMoreTiny-prev
        .rotPicABigAndMoreTiny-next
            display: none

        .swiper-pagination-bullet
            width: 20px

        .swiper-pagination-bullet+.swiper-pagination-bullet
            margin-left: 3px

        .mobile-itemBox
            display: flex
            justify-content: space-between
            height rotPicABigAndMoreTinyBoxHeight

            .pic
                pic()
                width: 100%
                height rotPicABigAndMoreTinyBoxHeight

                a
                    width: 100%
                    height rotPicABigAndMoreTinyBoxHeight
                img
                    img()
                    height 100%
                    width: auto
            .title
                title()
                width 100%
                font-size: 16px
                text-align: center

                &
                & a 
                    color #FFF
                    
                .text
                    text()
                    // 