.shareBox
    display: flex
    align-items: center
    margin-top: 20px
    margin-bottom: 20px
    position relative
    z-index 2

    .shareBoxCol
        display: flex
        align-items: center
        justify-content: flex-end
        width: 90px
        height 26px
        // background-image: url(shareBoxColBg.png)
        // background-position: 0 0
        // background-size: 100% 100%
        // background-color: #1ea0da;
        // background-image: linear-gradient( -2deg, #5589e6 0%, #3d42dc 100%);
        navBg()
        position relative
        // text-indent: 36px
        line-height: @height
        color: #ffffff
        font-size: 14px
        font-weight: 400
        margin-right: 12px
        padding-right: 10px

        &:before
            content: ''
            display: inline-block
            width: 10px
            height 62%
            // left: 10px
            background-image: url(shareBoxColIcon.png)
            background-position: center center
            background-size: 100% 100%
            margin-right: 6px
            // position: absolute
            // top: 50%
            // transform: translateY(-50%)

    .shareBtn
        display: flex

        .shareBtnItem
            position relative
            margin-right: 10px
            width: 32px
            height @width
            background-position: center center
            background-size: 100% 100%
            background-repeat: no-repeat
            // overflow hidden
            // text-indent: -888px
            cursor pointer
            border-radius: 100%

            .txt
                visibility hidden
                height: 32px

            .qrcodeBox
                transition: height 0.5s
                // display: none
                position: absolute
                top: 0
                right: -15px
                width: 180px
                height 0
                overflow hidden
                
                &-in
                    margin: 38px auto 0
                    navBg()
                    border-radius: 4px
                    box-shadow: 0 3px 10px rgba(#000000, 0.3)
                    padding: 10px

                    &
                    & img
                        width: 120px
                        height 120px

            &:hover
                .qrcodeBox
                    height 180px
                    display: block

        .icon-wx
            background-image: url(icon-wx.png)

        .icon-wb
            background-image: url(icon-wb.png)

// .is-mobile
//     .shareBox
//         display: none