.topBigTitle
    width: areaWidth 
    margin: 0 auto
    padding-top: 20px
    padding-bottom: 10px
    border-bottom: 1px #cccccc dashed 

    h1
        text-align: center
        overflow hidden
        line-height 60px
        &
        & a
            font-weight: 800
            font-size: 42px
            color: var(--moo-topBigTitle-color)
            line-height 60px

    .absBox
        width: 90%
        // overflow hidden
        // height 40px
        line-height: 30px
        font-size: 18px
        margin-top: 12px
        margin-left: auto
        margin-right: auto
        text-align: center 
        

        a
            margin: 0 6px

        &
        & a
            color: #333333

// is-mobile
.is-mobile
    .topBigTitle
        width: 100%
        padding-top: 10px

        h1
            // overflow hidden
            line-height 30px
            padding: 0 6px

            &
            & a
                font-weight: 800
                font-size: 28px
                color: #c11d24 !important
                line-height 46px

        .absBox
            width: auto
            height auto
            line-height: 24px
            font-size: 14px
            margin: 6px 10px 9px
            
            &
            & a
                text-align: center
            
            a
                display: inline-block
