.topTitle
    topTitleHeight = 40px

    width: areaWidth 
    margin: 0 auto 6px
    // background-color: #f1f1f1
    border-bottom: 1px #cccccc solid
    line-height: topTitleHeight
    height topTitleHeight
    font-size: 20px
    // padding: 0 20px
    font-weight: 400
    overflow hidden
    // background-color: navBgColor
    // background-image: -moz-linear-gradient( -2deg, #5589e6 0%, #3d42dc 100%);
    // background-image: -webkit-linear-gradient( -2deg, #5589e6 0%, #3d42dc 100%);
    // background-image: -ms-linear-gradient( -2deg, #5589e6 0%, #3d42dc 100%);

    &-in // .topTitle-in
        width: areaWidth
        height auto
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin: 0 auto

    .col-title
        color: #1f74c5
        font-size: 18px

    .btn-box
        display: flex
        // justify-content: space-between
        // align-items: flex-start
        // flex-wrap: wrap
        // width: 700px
        width 86%

        a
            width: auto
            flex: 1 0 auto
            display: flex
            align-items: flex-start
            margin: 0 9px
            font-size: 14px
            // line-height: 100%
            // color: #ffffff
        
    .topTitle-rot
        width: 900px
        height topTitleHeight
        overflow hidden
        position relative

        &:before
        &:after
            // border: 1px solid red
            // background-color: #ffffff
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            height topTitleHeight
            width: 4em
            position: absolute
            top: 0
            right: 0
            display: block
            z-index 2
            content: ''
            pointer-events: none

        &:before
            background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            left: 0
            right: auto

// is-mobile
.is-mobile
    .topTitle
        width: 100%
    .col-title
        margin-left: 10px
        
    .topTitle-rot
        &:before
            width: 2em
